<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>AdminPanel</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReservationsServlet</display-name>
    <servlet-name>ReservationsServlet</servlet-name>
    <servlet-class>com.inpt.Servlets.ReservationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationsServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FootballServlet</display-name>
    <servlet-name>FootballServlet</servlet-name>
    <servlet-class>com.inpt.Servlets.FootballServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FootballServlet</servlet-name>
    <url-pattern>/football</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasketballServlet</display-name>
    <servlet-name>BasketballServlet</servlet-name>
    <servlet-class>com.inpt.Servlets.BasketballServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasketballServlet</servlet-name>
    <url-pattern>/basketball</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VolleyballServlet</display-name>
    <servlet-name>VolleyballServlet</servlet-name>
    <servlet-class>com.inpt.Servlets.VolleyballServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolleyballServlet</servlet-name>
    <url-pattern>/volleyball</url-pattern>
  </servlet-mapping>
</web-app>